{
  "openapi": "3.0.1",
  "info": {
    "title": "system-b-orders",
    "description": "System B order API.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://jandaris-demo-apim.azure-api.net/system-b-orders"
    }
  ],
  "paths": {
    "/order": {
      "post": {
        "summary": "order",
        "description": "Creates an order in System B.",
        "operationId": "order",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SystemBOrder"
              },
              "examples": {
                "order": {
                  "value": {
                    "orderId": "SO-1042",
                    "orderDate": "2026-08-15T09:41:03Z",
                    "receivedAt": "2026-08-15T09:41:05Z",
                    "orderStatus": "PENDING_FULFILLMENT",
                    "customer": {
                      "customerId": "CUST-2048",
                      "name": "Northwind Retail"
                    },
                    "currency": "EUR",
                    "orderLines": [
                      {
                        "lineNumber": 1,
                        "itemCode": "WIDGET-BLUE-01",
                        "description": "Blue Widget",
                        "quantity": 2,
                        "unitPrice": 49.95
                      }
                    ],
                    "shippingAddress": {
                      "countryCode": "NL",
                      "city": "Amsterdam"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Order created in System B.",
            "headers": {
              "Location": {
                "description": "URI of the created System B order.",
                "schema": {
                  "type": "string",
                  "format": "uri"
                },
                "example": "https://jandaris-demo-apim.azure-api.net/system-b-orders/order/SO-1042"
              },
              "correlation-id": {
                "description": "Correlation ID retained for end-to-end functional tracing.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                },
                "example": "7db2f7c8-ef5b-4afc-8c56-1a4df2e5042c"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "orderId",
                    "correlationId",
                    "orderStatus",
                    "createdAt"
                  ],
                  "type": "object",
                  "properties": {
                    "orderId": {
                      "type": "string"
                    },
                    "correlationId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "orderStatus": {
                      "type": "string",
                      "enum": [
                        "PENDING_FULFILLMENT"
                      ]
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "additionalProperties": false
                },
                "examples": {
                  "orderCreated": {
                    "summary": "System B accepted and created the order",
                    "value": {
                      "orderId": "SO-1042",
                      "correlationId": "7db2f7c8-ef5b-4afc-8c56-1a4df2e5042c",
                      "orderStatus": "PENDING_FULFILLMENT",
                      "createdAt": "2026-08-15T09:41:05.0000000+00:00"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SystemBOrder": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "orderId",
          "orderDate",
          "receivedAt",
          "orderStatus",
          "customer",
          "currency",
          "orderLines",
          "shippingAddress"
        ],
        "properties": {
          "orderId": {
            "type": "string",
            "pattern": "^SO-[0-9]+$"
          },
          "orderDate": {
            "type": "string",
            "format": "date-time"
          },
          "receivedAt": {
            "type": "string",
            "format": "date-time"
          },
          "orderStatus": {
            "type": "string",
            "enum": [
              "PENDING_FULFILLMENT",
              "REJECTED"
            ]
          },
          "customer": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "customerId",
              "name"
            ],
            "properties": {
              "customerId": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "currency": {
            "type": "string",
            "enum": [
              "EUR"
            ]
          },
          "orderLines": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "lineNumber",
                "itemCode",
                "description",
                "quantity",
                "unitPrice"
              ],
              "properties": {
                "lineNumber": {
                  "type": "integer",
                  "minimum": 1
                },
                "itemCode": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "quantity": {
                  "type": "integer",
                  "minimum": 1
                },
                "unitPrice": {
                  "type": "number",
                  "minimum": 0
                }
              }
            }
          },
          "shippingAddress": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "countryCode",
              "city"
            ],
            "properties": {
              "countryCode": {
                "type": "string",
                "pattern": "^[A-Z]{2}$"
              },
              "city": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "name": "Ocp-Apim-Subscription-Key",
        "in": "header"
      },
      "apiKeyQuery": {
        "type": "apiKey",
        "name": "subscription-key",
        "in": "query"
      }
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ]
}